node_modules/*
!node_modules/angular2/
!node_modules/bootstrap/
!node_modules/es6-*/
!node_modules/reflect-metadata/
!node_modules/rx/
!node_modules/rxjs/
!node_modules/systemjs/
!node_modules/zone.js/
