<router-outlet></router-outlet>
<footer>
    <p>
        <small><a target="_blank" title="Application Test Coverage" href="./coverage/index.html">Test coverage</a></small>
    </p>
    <p>
        <small>
            Github Client applicaton based on Angular2.
            <a target="_blank" href="https://opensource.org/licenses/MIT">MIT</a> license.
            2016 &copy;<a target="_blank" href="https://pl.linkedin.com/in/alexander-pikalov-a6880046">Alex Pikalov</a>
    </small>
    </p>
</footer>
